@use './src/styles/responsive' as *;

.header {
  margin: 16px 0 24px;
  @include media-breakpoint-up(md) {
    margin: 32px 0 40px;
  }
  @include media-breakpoint-up(lg) {
    margin: 32px 0 72px;
  }
}

.header__logo {
  width: 220px;
  @include media-breakpoint-up(lg) {
    width: 310px;
  }
}
