
.App {
  width: 75%;
  margin: 0 auto;
  color: #404c66;
}

.App header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 96px;
  /* margin-bottom: 96px; */
}

.App__title {
  font-size: 36px;
  margin: 0;
}


footer {
  margin-top: 64px;
}